<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>701258814702-7dhna1vsroek75vikkfanp73g14dpmjs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701258814702-7dhna1vsroek75vikkfanp73g14dpmjs</string>
	<key>API_KEY</key>
	<string>AIzaSyBBBy3oLh5rVhseRSMMGuLDhLvJgV8arqc</string>
	<key>GCM_SENDER_ID</key>
	<string>701258814702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kod.Questioner</string>
	<key>PROJECT_ID</key>
	<string>kod-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>kod-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701258814702:ios:ef60b49f83cd3c08</string>
	<key>DATABASE_URL</key>
	<string>https://kod-notification.firebaseio.com</string>
</dict>
</plist>