<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>foo.ttf</string>
		<string>SHOWG.TTF</string>
	</array>
    <key>NSCameraUsageDescription</key>
    <string>برای گرفتن عکس آگهی لازم است به دیوار اجازه دسترسی به دوربین موبایل‌تان را بدهید.</string>
    <key>NSLocationUsageDescription</key>
    <string>اگر مایل هستید دیوار شهر و محله شما را به صورت خودکار پیدا کند، اجازه بدهید به مکان شما دسترسی داشته باشد. </string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>اگر مایل هستید دیوار شهر و محله شما را به صورت خودکار پیدا کند، اجازه بدهید به مکان شما دسترسی داشته باشد. </string>
    <key>NSMicrophoneUsageDescription</key>
    <string>برای ظبط صدا لازم است اجازه دسترسی به میکروفون موبایلتان را بدهید.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>برای ذخیره عکس لازم است به دیوار اجازه دسترسی به عکس هایتان را بدهید.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>برای انتخاب عکس آگهی از بین عکس‌های موبایل‌تان لازم است به دیوار اجازه دسترسی به عکس‌های موبایل‌تان را بدهید.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
